*, h1, h1, h3, h4, h5, h6
{
    margin: 0;
    padding: 0;
}

body 
{
    font-family:Calibri;
}

.menu 
{
    padding: 10px;
    background-color: deeppink;
    color:white;
}

.solmenu {
    float: left;
    width: 200px;
    background-color: #fce7f2;
    min-height: 1000px;
}
    .solmenu a 
    {
        display:block;
        margin:10px;
        text-decoration: none;
        border-bottom:1px solid silver;
    }

.icerikTasiyici
{
    float:left;
    width:1000px;
    padding:10px;
}
.formTasiyici
{

}
.formBaslik {
    background-color: aliceblue;
    border: 1px solid silver;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding:10px;
}
.formIcerik {
    border: 1px solid silver;
    padding:10px;
}
.satir{
    padding:10px;
}
.metinKutuZorunlu {
    width: 90%;
    padding: 5px;
    font-size: 12pt;
    border: 1px solid red;
    border-radius: 5px;
}
.metinKutu {
    width: 90%;
    padding: 5px;
    font-size: 12pt;
    border: 1px solid silver;
    border-radius: 5px;
}
.ekleButton {
    padding: 10px 30px;
    background-color: deeppink;
    color:white;
    border:1px solid deeppink;
    border-radius:5px;
}
.hataMesaj{
    display:block;
    color:red;
}